<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Courses{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'online_course/css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <h1><a href="/">My Online Courses</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/online_course/">Courses</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>


    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 My Online Courses. All rights reserved.</p>
    </footer>
</body>
</html>
